html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Lucida Sans', Tahoma, Verdana, Ubuntu, Roboto;
}
p:first-child {
	margin-top:0;
}
p:last-child {
	margin-bottom:0;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div#loading {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
}
div#intro {
	text-align:center;
	border:solid 1px black;
	width:76%;
	height:76%;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	overflow:auto;
	background:rgba(255,255,255,1.0);
	padding:12px;
	line-height:1.5em;
}
div#intro img {
	vertical-align:middle;
}
div#intro .technical {
	font-size: 0.8em;
}

div#popup {
	display:none;
	position:absolute;
	bottom:0;
	right:0;
	background-color:#ffffff;
	text-align:center;
}
div#popup div#control {
	position:absolute;
	top:0;
	right:0;
	width:100px;
	height:32px;
	background-color:#deebf7;
}
div#control img {
	height:32px;
	width:32px;
}
div#control img.narrow {
	width:28px;
}
div#title {
	text-align:left;
	font-size:0.8em;
	overflow:hidden;
	font-color:#333333;
	position:absolute;
	top:0;
	left:0;
	right:100px;
	height:32px;
	overflow:hidden;
	padding-left:6px;
	padding-top:1px;
	background-color:#deebf7;
}
div#pointcontents {
	overflow:auto;
	position:absolute;
	top:32px;
	left:0;
	right:0;
	bottom:0;
	text-align:left;
}
img#picture {
	display:none;
	width:100%;
}
#comments {
	padding:8px;
}
#comments .division {
	text-align:center;
}
#comments .division .name {
	margin-bottom:0;
}
#comments .division .motto {
	font-style:italic;
	margin-top:0;
}
#comments table.progress  {
	margin-left:auto;
	margin-right:auto;
	font-size:0.9em;
	border-collapse:collapse;
}
#comments table.progress td:nth-child(2) {
	text-align:right;
	padding-left: 16px;
}

@media all and (orientation:landscape) {
	#map.open {
		right:60%;
	}
	#popup {
		top:0;
		left:40%;
	}
}
@media all and (orientation:portrait) {
	#map.open {
		bottom:60%;
	}
	#popup {
		top:40%;
		left:0;
	}
}
